.user-details {
  background: #0448f4;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-details-container {
  background: white;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  border-radius: 8px;
  padding: 15px;
}
.user-details-container img {
  width: 350px;
}

.user-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background: #fff;
  flex: 1;
}

.user-content h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.user-content span {
  font-size: 1.2rem;
}

.user-content button {
  background: #0448f4;
  color: white;
  padding: 8px 25px;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  align-self: flex-end;
}
.user-content button:hover {
  background: white;
  color: #0448f4;
  border: 1px solid #0448f4;
}
